# Created by .ignore support plugin (hsz.mobi)
.idea/workspace.xml
.idea/vcs.xml
.idea/raptor_test_framework.iml
.idea/encodings.xml
.idea/encodings.xml
.idea/.name
.idea/.rakeTasks
.idea/scopes/scope_settings.xml
